{#
/**
 * Main-menu
 * twig filters 'upper, lower, ucwords, ucfirst, lcfirst'
 */
#}

<li><a href="{{ path('<front>') }}" rel="home">{{ "home"|upper }}</a></li>
<li><a href="{{ base_path }}tuinwerken">{{ "Tunwerken"|upper }}</a></li>
<li><a href="{{ base_path }}bedrijven">{{ "bedrijven"|upper }}</a></li>

