{##}
{#
/**
* Sidebar menu en dropdown menu mobile
*/
#}

<li><a href="{{ base_path }}snoeien-van-bomen">Snoeien van bomen</a></li>
<li><a href="{{ base_path }}vellen-van-gevaarlijke-bomen">Vellen van gevaarlijke bomen</a></li>
<li><a href="{{ base_path }}standplaats-verbetering">Standplaats verbetering</a></li>
<li><a href="{{ base_path }}aanplanten-bomen">Aanplanten van bomen of leibomen</a></li>
<li><a href="{{ base_path }}verplanten-bomen">Verplanten van bomen</a></li>
<li><a href="{{ base_path }}kroon-kluitverankering">Kroon- en kluitverankering</a></li>
<li><a href="{{ base_path }}ziekte-plaagbestrijding">Ziekte- en plaagbestrijding</a></li>
<li><a href="{{ base_path }}uitgraven-frezen-stronken">Uitgraven of frezen van stronken</a></li>
<li><a href="{{ base_path }}versnippering-taken-loof">Versnipperen en afvoeren van takken en loof</a></li>
<li><a href="{{ base_path }}interventie-storm">Interventies voor, tijdens en na storm</a></li>
<li><a href="{{ base_path }}advies-bomen">Advies</a></li>
<li><a href="{{ base_path }}boomveiligheidsinspecties">Boomveiligheidsinspecties</a></li>
<li><a href="{{ base_path }}boombescherming-werven">Boombescherming op werven</a></li>
<li><a href="{{ base_path }}inventarisatie-beheer-boombestanden">Inventarisatie en beheer planning van boombestanden</a></li>