<div id="fb-root"></div>

{# splitscreen layout met 3 hoofd containers, left-fixed-container, sidebar en right-container #}
<div class="wrapper">
    <input type="checkbox" id="sidebartoggler" name="" value="">

    <div class="container-wrap">
        {# left side with logo-sitename and main-menu #}
        <div class="left-fixed-container">
            <aside>
                <div class="row site-info">
                    {# block--system-branding-block.html.twig #}
                    {{ page.sitebranding }}
                </div>
                <div class="col-md-12 menu-container">
                    <div class="main-menu">
                        <ul>
                            {# main-menu.inc.twig #}
                            {% include directory ~ '/templates/partials/main-menu.inc.twig' %}
                            {# link om sidebar menu te tonen schuifsysteem zuiver ùet css via checkbox #}
                            <label for="sidebartoggler" class="toggle">Boomverzorging </label>
                        </ul>
                    </div>
                </div>
                <div class="copyright-desktop">
                    {# copyright.inc.twig #}
                    {% include directory ~ '/templates/partials/copyright.inc.twig' %}
                </div>
            </aside>
        </div>
        <!-- navigation tree -->
        <div class="sidebar">
            {# menu block bomen #}
            {{ page.menubomen }}
        </div>

        {# Het mobile gedeelte, enkel zichtbaar bij minder dan 960px #}
        <div class="mobile-version-wrap">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            {# de bootstrap icon-bar vervangen door hamburger effects van
                            https://github.com/jonsuh/hamburgers #}
                            <div class="hamburger hamburger--spin">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                        </button>
                    </div>

                    {# Collect the nav links, forms, and other content for toggling #}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {# main-menu.inc.twig #}
                            {% include directory ~ '/templates/partials/main-menu.inc.twig' %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Boomverzorging <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {# menu-sidebar-dropdown.inc.twig #}
                                    {% include directory ~ '/templates/partials/menu-sidebar-dropdown.inc.twig' %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

            <header class="mobile-header">
                <div class="mobile-sitename">
                    <h1>ARBOR-SERVICE</h1>
                </div>
                <div class="mobile-core-business">
                    <span>boomchirurgie en tuinonderhoud</span>
                </div>
            </header>
        </div>{# end of mobile-version-wrap #}

        {# main content in de right-container voor zowel desktop als mobile devices #}
        <div class="container right-container">
            <aside class="main-content">
                {# Action Links #}
                {% if action_links %}
                    {% block action_links %}
                        <ul class="action-links">{{ action_links }}</ul>
                    {% endblock %}
                {% endif %}

                {# Help #}
                {% if page.help %}
                    {% block help %}
                        {{ page.help }}
                    {% endblock %}
                {% endif %}

                {# Content #}
                {% block content %}
                    <a id="main-content"></a>
                    {{ page.content }}
                {% endblock %}
            </aside>

            {# zichtbaar op elke pagina maar niet bij de mobile versie #}
            <div class="desktop-footer">

                <!-- contact gegevens en facebook banner-->
                <!-- wordt een include wordt onderaan op elke pagina getoond -->
                <aside class="contact-facebook-wrapper">
                    <div class="row">
                        <div class="col-md-6 contact-wrap">
                            {# contactgegevens en gsm include #}
                            {% include directory ~ '/templates/partials/contact_data.inc.twig' %}
                            {% include directory ~ '/templates/partials/gsm.inc.twig' %}
                        </div>

                        <div class="col-md-6 facebook-wrap">
                            {# facebook.inc.twig #}
                            {% include directory ~ '/templates/partials/facebook.inc.twig' %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <!-- end of main-content -->

        <!-- mobile footer -->
        <footer class="mobile-footer">
            <div class="container">
                {% include directory ~ '/templates/partials/contact_data.inc.twig' %}
                <div class="gsm">
                    <a href="tel:{% include directory ~ '/templates/partials/gsm.inc.twig' %}" class="btn btn-default">
                        {% include directory ~ '/templates/partials/gsm.inc.twig' %}
                    </a>
                </div>
                <div class="copyright">
                    {# copyright.inc.twig #}
                    {% include directory ~ '/templates/partials/copyright.inc.twig' %}
                </div>
            </div>
        </footer>

    </div>
</div>