{#
/**
 * Created by PhpStorm.
 * User: Stefan
 * Date: 14/02/2016
 * Time: 16:23
 * splitscreen layout with 3 maincontainers
 * left-fixed-container, sidebar en right-container
 */#}
{# facebook id #}
<div id="fb-root"></div>

<div class="wrapper">
    <input type="checkbox" id="sidebartoggler" name="" value="">

    <div class="container-wrap">
        {#
        /**
        * left side with logo-sitename and main-menu
        * only visible in the desktop version
        */
        #}
        <aside class="left-side">
            <div class="row left-side__site-info">
                {# block--system-branding-block.html.twig #}
                {{ page.sitebranding }}
            </div>
            <div class="col-md-12 left-site__menu-container">
                <div class="main-menu">
                    {#
                    /**
                    * main-menu.inc.twig
                    */
                    #}
                    <ul>
                        {% include directory ~ '/templates/partials/main-menu.inc.twig' %}
                        {# link to display the sidebar menu sliding pure CSS via checkbox #}
                        <label for="sidebartoggler" class="toggle">{{ "Boomverzorging"|upper }} </label>
                    </ul>
                </div>
            </div>
            <div class="left-side__copyright">
                {# copyright.inc.twig #}
                {% include directory ~ '/templates/partials/copyright.inc.twig' %}
            </div>
        </aside>

        {#
        /**
        * navigation tree
        * only visible after clicking 'label for="sidebartoggler"' in main-menu
        */
        #}
        <aside class="midle-menu-container">
            <h2>{{ "Boomverzorging" }}</h2>
            {# menu block bomen block is used twice, in the mobile navigation #}
            {{ page.menubomen }}
        </aside>

        {#
        /**
        * mobile section, visible only at less than 960px
        * _media-sitch-min961.scss does the trick
        */
        #}
        <aside class="mobile-version-container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    {# Toggle get grouped for better mobile display #}
                    {# hamburger.inc.twig #}
                    {% include directory ~ '/templates/partials/hamburger.inc.twig' %}

                    {# Collect the nav links, forms, and other content for toggling #}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {# main-menu.inc.twig #}
                            {% include directory ~ '/templates/partials/main-menu.inc.twig' %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">{{ "Boomverzorging"|upper }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {# menu block bomen #}
                                    {{ page.menubomen }}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {# end of .navbar-collapse #}
                </div>
                {# end of container-fluid #}
            </nav>

            <header class="mobile-version__header">
                <div class="mobile-version__sitename">
                    {# site_name and site_slogan are vars from arbor.theme#}
                    <h1>{{ site_name }}</h1>
                </div>
                <div class="mobile-version__slogan">
                    <span>{{ site_slogan }}</span>
                </div>
            </header>
        </aside>{# end of mobile-version-wrap #}

        {#
        /**
        * main content in the right container for both desktop and mobile devices
        */
        #}
        <aside class="right-side">
            <div class="right-side__main-content">
                <main>
                    {# Action Links #}
                    {% if action_links %}
                        {% block action_links %}
                            <ul class="action-links">{{ action_links }}</ul>
                        {% endblock %}
                    {% endif %}

                    {# Help #}
                    {% if page.help %}
                        {% block help %}
                            {{ page.help }}
                        {% endblock %}
                    {% endif %}

                    {# Content #}
                    {% block content %}
                        <a id="main-content"></a>
                        {{ page.content }}
                    {% endblock %}
                </main>
            </div>

            {# visible on every page but not on the mobile version #}
            <footer class="desktop-footer">
                {#
                /**
                * contact and facebook wrapper
                */
                #}
                <div class="desktop-footer__contact-facebook-wrap">
                    <div class="row">
                        <address class="col-md-6 desktop-footer__contact-wrap">
                            {# contact and gsm include #}
                            {# contact_data.inc.twig and gsm.inc.twig and facebook.inc.twig #}
                            {% include directory ~ '/templates/partials/contact_data.inc.twig' %}
                            <i class="fa fa-phone-square"></i>{% include directory ~ '/templates/partials/gsm.inc.twig' %}
                        </address>

                        <div class="col-md-6 desktop-footer__facebook-wrap">
                            {# facebook.inc.twig #}
                            {% include directory ~ '/templates/partials/facebook.inc.twig' %}
                        </div>
                    </div>
                </div>
            </footer>
        </aside>
        {# end of main-content right-container #}

        {# mobile footer #}
        <footer class="mobile-footer">
            <div class="container">
                <address>
                    {% include directory ~ '/templates/partials/contact_data.inc.twig' %}
                    <div class="mobile-footer__gsm">
                        <a href="tel:{% include directory ~ '/templates/partials/gsm.inc.twig' %}"
                           class="btn btn-default">
                            <i class="fa fa-phone-square fa-lg"></i> {% include directory ~ '/templates/partials/gsm.inc.twig' %}
                        </a>
                    </div>
                </address>
                <div class="mobile-footer__copyright">
                    {# copyright.inc.twig #}
                    {% include directory ~ '/templates/partials/copyright.inc.twig' %}
                </div>
            </div>
        </footer>
    </div>
</div>